<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hansonic-ios.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>DC30EB06E4B65E6ADCF08E0919F02FA43EA057EF</string>
				<key>dateExpires</key>
				<string>2020/4/21</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DC30EB06E4B65E6ADCF08E0919F02FA43EA057EF</string>
						<key>dateExpires</key>
						<string>2020/4/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EUUTARU4YE</string>
						<key>name</key>
						<string>AI-ZHANG HU</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DC30EB06E4B65E6ADCF08E0919F02FA43EA057EF</string>
						<key>dateExpires</key>
						<string>2020/4/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>BFPaperCheckbox.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EUUTARU4YE</string>
						<key>name</key>
						<string>AI-ZHANG HU</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DC30EB06E4B65E6ADCF08E0919F02FA43EA057EF</string>
						<key>dateExpires</key>
						<string>2020/4/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DLRadioButton.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EUUTARU4YE</string>
						<key>name</key>
						<string>AI-ZHANG HU</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DC30EB06E4B65E6ADCF08E0919F02FA43EA057EF</string>
						<key>dateExpires</key>
						<string>2020/4/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EUUTARU4YE</string>
						<key>name</key>
						<string>AI-ZHANG HU</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DC30EB06E4B65E6ADCF08E0919F02FA43EA057EF</string>
						<key>dateExpires</key>
						<string>2020/4/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>HandyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EUUTARU4YE</string>
						<key>name</key>
						<string>AI-ZHANG HU</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DC30EB06E4B65E6ADCF08E0919F02FA43EA057EF</string>
						<key>dateExpires</key>
						<string>2020/4/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>HexColors.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EUUTARU4YE</string>
						<key>name</key>
						<string>AI-ZHANG HU</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DC30EB06E4B65E6ADCF08E0919F02FA43EA057EF</string>
						<key>dateExpires</key>
						<string>2020/4/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SQLite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EUUTARU4YE</string>
						<key>name</key>
						<string>AI-ZHANG HU</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DC30EB06E4B65E6ADCF08E0919F02FA43EA057EF</string>
						<key>dateExpires</key>
						<string>2020/4/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>STPopup.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EUUTARU4YE</string>
						<key>name</key>
						<string>AI-ZHANG HU</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DC30EB06E4B65E6ADCF08E0919F02FA43EA057EF</string>
						<key>dateExpires</key>
						<string>2020/4/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftSoup.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EUUTARU4YE</string>
						<key>name</key>
						<string>AI-ZHANG HU</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DC30EB06E4B65E6ADCF08E0919F02FA43EA057EF</string>
						<key>dateExpires</key>
						<string>2020/4/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>XLPagerTabStrip.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EUUTARU4YE</string>
						<key>name</key>
						<string>AI-ZHANG HU</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DC30EB06E4B65E6ADCF08E0919F02FA43EA057EF</string>
						<key>dateExpires</key>
						<string>2020/4/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EUUTARU4YE</string>
						<key>name</key>
						<string>AI-ZHANG HU</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>EUUTARU4YE.com.hansonic-ios</string>
				<key>com.apple.developer.team-identifier</key>
				<string>EUUTARU4YE</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>EUUTARU4YE.com.hansonic-ios</string>
				</array>
			</dict>
			<key>name</key>
			<string>hansonic-ios.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>4be2bc86-2718-4ff9-a2ca-9cf7372beeda</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.hansonic-ios</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>EUUTARU4YE</string>
				<key>name</key>
				<string>AI-ZHANG HU</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
